body {
  font-family: 'Source Sans Pro';
  background:rgb(61, 61, 61);
  margin:0;
  color:white;
  width: 800px;
  margin: auto;
}

a {
  text-decoration:none;
  color:rgb(255, 255, 255);
  font-size:3.8em;
  font-weight:700;
}

}
img { 
  width:150px;
  justify-self: center;
}

header {
  list-style-type: none;
  margin: auto;
  background:rgb(61, 61, 61);
  padding: 1em;
  text-align: center;
}

footer {
  background:#571212;
}

ul {
  display:grid;
  list-style-type:none;
  margin:0;padding:0;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
}

ul li {
  padding: 2em;
  color:#E98A8A;
}

ul li span {
  display:block;
  font-size:1.4em;
  margin-bottom:1em;
  color: white;
}
.container {
  display:grid;
  background-color: rgb(61, 61, 61);
  display:grid;
  list-style-type:none;
  margin:0;padding: 0;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  border-style: dashed;
  border-color: rgb(255, 255, 255);
}

.container ul li{
  padding: 15px;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

.container li.dark{
  color: rgb(61, 61, 61);
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column
}

.container li.dark:hover{
  color: white;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column
}

.container li.white{
  color: white;
  background-color: white;
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column
}

.container li.white:hover{
  color: rgb(61, 61, 61);
  padding: 0px;
  display: flex;
  justify-content: center;
  flex-direction: column
}


